#root {
  max-width: 1200px;
  padding: 0 25px;
  box-sizing: border-box;
  margin: 0 auto;
}

.product-card-list {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.product-card {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  background: white;
  width: 100%;
  background-color: #F5F5F5;

  & img {
    width: 200px;
    height: 300px;
  }

  &-name {
    font-size: 20px;
    font-weight: 400;
    color: #444444;
    font-weight: 900;
  }
  &-color {
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    margin: 0;
  }
  &-price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
  }
  &-btn {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #fc5a5a;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 28px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
  }

}
 .modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: 1050;
   margin: 0;
   padding: 0;
 }

 .modal-content {
   background-color: #e74c3c;
   color: white;
   top: 50%;
   transform: translateY(-50%);
   margin: auto;
   width: 40%;
   text-align: center;
   position: relative;
   text-align: left;
   border-radius: 15px;
   padding: 20px;

   & p {
     padding-bottom: 20px;
        text-align: center;
        margin: 0;
   }
 }

 .modal-btn {
   background-color: #d44637;
   color: white;
   padding: 8px 15px;
   font-size: 20px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   margin: 0 20px;
 }

 .modal-btn-container {
   display: flex;
   justify-content: space-around;
 }

 .header {
   display: flex;
   justify-content: space-around;
   padding: 20px 0;

     &-btn {
       text-decoration: none;
       padding: 5px 15px;
       background: #fc5a5a;
       color: white;
       text-transform: uppercase;
       font-size: 20px;
       line-height: 28px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
     }
 }


.cart-form {
   background-color: #fc5a5a;
   margin: 0 auto;
   padding: 40px;
   width: 200px;
   border-radius: 15px;
  &-label {
    color: white;
    text-transform: uppercase;
    display: block;
    margin-top: 15px;
  }
  &-input {
    display: block;
  }
}